<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind Traders Status</title>
  <style>
    [v-cloak] {
      display: none;
    }
    body {
      padding-top: 3.5rem;
    }
    .jumbotron {
      border-radius: 0px;
      color: #fff;
    }
    .jumbotron.incident-active {
      background-color: rgb(235, 128, 46);
    }
    .jumbotron.incident-inactive {
      background-color: rgb(60, 168, 60);
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Tailwind Traders Status</a>
  </nav>

  <main role="main" id="app" v-cloak>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" :class="{ 
      'incident-active': (!loading && isIncidentActive),
      'incident-inactive': (!loading && !isIncidentActive)
    }">
      <div class="container" v-if="!loading">
        <h1 v-if="isIncidentActive" class="display-3">Whoops!</h1>
        <h1 v-else class="display-3">Everything is okay!</h1>
      </div>
    </div>
  
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <div v-if="isIncidentActive">
            <h2>Active Incident</h2>
            <hr />
            <div v-for="status in activeIncident.statuses">
              <small class="text-muted">{{ status.timestamp }} - {{ status.type }} - {{ status.from }}</small>
              <p>{{ status.text | formatStatusText }}</p>
              <hr />
            </div>
          </div>

          <div v-if="!isIncidentActive">
            <h2>History</h2>
            <hr />
            <div v-for="incident in pastIncidents">
              <div v-for="status in incident.statuses">
                <small class="text-muted">{{ status.timestamp }} - {{ status.type }} - {{ status.from }}</small>
                <p>{{ status.text | formatStatusText }}</p>
              </div>              
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  
  </main>
  
</body>
</html>
